.header {
    padding:10px;
    text-align: left;
    background: #424649;
    color: white;
    font-size: 30px;
}

#footer {

    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    margin-bottom: 0px;
    background-color: #424649;
    color: white;
    text-align: center;
    font-size: 35px;
}
#footerText {
line-height: 20px;
}
.img{
    width: 11px;
    height: 80%;
    position: relative;
    float: left;
}
